 
    :root {
        --main-color: #34B297; /* KEPPEL */
        --icon-color: #4C4C4C; /* DARK GRAY */
        --icon-hover-color: black;
        --icon-dimension-evidence-selected-color: #FB6107; /* VIVID ORANGE */
        --icon-dimension-individual-selected-color: #8EA604; /* APPLE GREEN */
        --icon-dimension-causal-selected-color: #FFBA08; /* SELECTIVE YELLOW */
        --icon-dimension-quirky-selected-color: #A4508B; /* RAZZMIC BERRY */
        --icon-dimension-ramification-selected-color: #92AD94; /* DARK SEA GREEN */
        --icon-dimension-visualisation-selected-color: #C97064; /* FUZZY WUZZY */
        --tag-color: #E0EAF1; /* light blue */
        --section-background-color: #F9F9F9; /* subtle grey */
    }

    .toast-top-center {
        top: 42px;
        margin: 0 auto;
        left: 50%;
    }


    #contact,
    #options {
        margin: 10px;
    }

    #sticky.stick {
        margin: 0 !important;
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
    }

    #sticky {
        background: #fff;
    }
    *,
    *:after,
    *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .clearfix:after,
    .clearfix:before {
        content: " ";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }

    body {
        font-family: sans-serif;
        background: var(--section-background-color);
        margin: 0;
    }

    h1 {
        color: var(--icon-color);
        text-align: left;
    }

    a {
        color: #ccc;
        text-decoration: none;
        outline: none;
    }

    .tab_container {
        width: 100%;
        margin: 0;
        padding-top: 0;
        position: relative;
    }

    .tab_container input[type="radio"],
    section {
        clear: both;
        padding-top: 10px;
        display: none;
    }

    .tab_container label {
        font-weight: 700;
        font-size: 18px;
        display: block;
        float: left;
        width: 16.66666%;
        padding: 0.7em;
        color: #757575;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        background: #fff;
    }

    #content2,
    #content3,
    #content4,
    #content5,
    #content6 {
        display: none;
        margin-left: 2px;
        margin-right: 2px;
        padding: 10px;
        background: var(--section-background-color);
        color: #999;
        border-bottom: 0 solid #0082F4;
    }

    #content1{
      display: none;
      margin-left: 0px;
      margin-right: 2px;
      padding: 0px;
      background: var(--section-background-color);
      color: #999;
      border-bottom: 0 solid #0082F4;
    }

    #content1 {
        display: block;
    }

    .sticky .tab-content h3 {
        text-align: center;
    }

    .tab_container [id="evidence"]:checked+label,
    .tab_container [id="individual"]:checked+label,
    .tab_container [id="causal"]:checked+label,
    .tab_container [id="quirky"]:checked+label,
    .tab_container [id="ramification"]:checked+label,
    .tab_container [id="visualisation"]:checked+label {
        background: #fff;
    }

    .tab_container [id="evidence"]:checked+label{
      box-shadow: inset 0 -3px 0 0 var(--icon-dimension-evidence-selected-color);
    }
    .tab_container [id="individual"]:checked+label{
      box-shadow: inset 0 -3px 0 0 var(--icon-dimension-individual-selected-color);
    }
    .tab_container [id="causal"]:checked+label,
    {
      box-shadow: inset 0 -3px 0 0 var(--icon-dimension-causal-selected-color);
    }
    .tab_container [id="quirky"]:checked+label{
      box-shadow: inset 0 -3px 0 0 var(--icon-dimension-quirky-selected-color);
    }

    .tab_container [id="ramification"]:checked+label,
    .tab_container [id="visualisation"]:checked+label {
      box-shadow: inset 0 -3px 0 0 var(--icon-color);
    }

    .tab_container [id="evidence"]:checked+label .fa,
    .tab_container [id="individual"]:checked+label .fa,
    .tab_container [id="causal"]:checked+label .fa,
    .tab_container [id="quirky"]:checked+label .fa,
    .tab_container [id="ramification"]:checked+label .fa,
    .tab_container [id="visualisation"]:checked+label .fa {
        color: #0CE;
    }

    /*.tab_container [id="causal"]:checked+label .fill,
    .tab_container [id="evidence"]:checked+label .fill,
    .tab_container [id="individual"]:checked+label .fill,
    .tab_container [id="quirky"]:checked+label .fill,
    .tab_container [id="ramification"]:checked+label .fill,
    .tab_container [id="visualisation"]:checked+label .fill {
        fill: #0082F4;
    }*/

    .tab_container [id="evidence"]:checked+label .fill,
    .tab_container [id="evidence"]:hover+label .fill {
      fill: var(--icon-dimension-evidence-selected-color);
    }
    .tab_container [id="individual"]:checked+label .fill,
    .tab_container [id="individual"]:hover+label .fill {
      fill: var(--icon-dimension-individual-selected-color);
    }
    .tab_container [id="causal"]:checked+label .fill,
    .tab_container [id="causal"]:hover+label .fill {
      fill: var(--icon-dimension-causal-selected-color);
    }
    .tab_container [id="quirky"]:checked+label .fill,
    .tab_container [id="quirky"]:hover+label .fill {
      fill: var(--icon-dimension-quirky-selected-color);
    }


    .tab_container [id="ramification"]:checked+label .fill,
    .tab_container [id="visualisation"]:checked+label .fill {
        fill: var(--icon-color);
    }

    #footer > general > svg:hover .fill,
    #footer > help > svg:hover .fill,
    #footer > options > svg:hover .fill,
    #footer-contact > svg:hover .fill,
    #footer-options > svg:hover .fill,
    /*.tab_container [id="causal"]:hover+label .fill,
    .tab_container [id="evidence"]:hover+label .fill,
    .tab_container [id="individual"]:hover+label .fill,
    .tab_container [id="quirky"]:hover+label .fill,*/
    .tab_container [id="ramification"]:hover+label .fill,
    .tab_container [id="visualisation"]:hover+label .fill
    {
        fill: var(--icon-hover-color);
    }

    .tab_container [id="evidence"]:hover+label .stroke,
    .tab_container [id="individual"]:hover+label .stroke,
    .tab_container [id="causal"]:hover+label .stroke,
    .tab_container [id="quirky"]:hover+label .stroke,
    .tab_container [id="ramification"]:hover+label .stroke,
    .tab_container [id="visualisation"]:hover+label .stroke {
        stroke: #0082F4;
    }

    .tab_container+label .fa {
        font-size: 1.3em;
        margin: 0 0.4em 0 0;
    }
    /*Content Animation*/
    /*@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}*/

    li.stripe-even {
        background-color: lightpink;
        height: 20px;
        list-style-type: none;
    }

    li.stripe-odd {
        background-color: lightblue;
        height: 20px;
        list-style-type: none;
    }
    ul.zebra li:hover {
        background-color: yellow;
    }

    svg[id="bug-icon"],
    svg[id="contact-back-icon"],
    svg[id="contact-icon"],
    svg[id="guide-icon"],
    svg[id="help-icon"],
    svg[id="insert-text"],
    svg[id="juice-logo"],
    svg[id="options-back-icon"],
    svg[id="options-icon"],
    svg[id="reset-tags"] {
        cursor: pointer;
    }

    svg {
        stroke: none;
        fill: var(--icon-color);
    }

    textarea.contact {
        width: 100%;
        height: 100px;
    }

    rect.btn {
        stroke: #fff;
        fill: #fff;
        fill-opacity: 0;
        stroke-opacity: 0;
        cursor: pointer;
    }

    #search {
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
        border-bottom: 1px solid #BFBFBF;
        display: flex;
        flex-flow: row;
    }

    #search > searchbox {
        border-radius: 7pt;
        flex: 3 1 90%;
        order: 2;
    }

    #search > lefticon {
        margin-top: 6px;
        border-radius: 7pt;
        flex: 1 6 5%;
        order: 1;
    }

    #search > righticon {
        margin-top: 4px;
        border-radius: 7pt;
        flex: 1 6 5%;
        order: 3;
    }

    #dimensions {
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #BFBFBF;
        display: flex;
    }

    #refresh {
        background: var(--tag-color);
        width: 100%;
        height: 20px;
        border-bottom: 1px solid #BFBFBF;
        display: block;
    }

    #refresh > svg {
        margin: auto;
        display: block;
    }


    /* FOOTER */

    #footer,
    #footer-contact,
    #footer-options {
        display: flex;
        flex-flow: row;
        background: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 35px;
        border-top: 1px solid #BFBFBF;
    }

    #footer-contact,
    #footer-options {
        padding-top: 6px;
    }

    #footer > options {
        padding-top: 7px;
        margin-right: 0;
        margin-left: 20px;
        flex: 1 1 auto;
        order: 1;
        border-right: 1px solid #BFBFBF;
    }

    #footer > help {
        padding-top: 6px;
        margin-right: 0;
        margin-left: 15px;
        flex: 1 1 auto;
        order: 2;
        border-right: 1px solid #BFBFBF;
    }

    #footer > general {
        padding-top: 4px;
        margin-right: 0;
        margin-left: 23px;
        flex: 1 1 auto;
        order: 3;
    }



    #contact,
    #footer-contact,
    #footer-options,
    #options,
    #refresh {
        display: none;
    }

    #first {
        float: left;
        width: 5%;
    }

    #second {
        float: left;
        width: 90%;
    }

    #third {
        float: left;
        width: 5%;
    }

    .box {
        padding: 10px;
        font-size: 12px;
        border-radius: 2px;
        background: #f3f3f3;
        color: #4f6f95;
        border: 1px solid #e5e5e5;
    }
    .box:hover table {
        border-color: #9fccf4;
    }

    .box a {
        text-decoration: none;
        color: #4c91df;
    }
    .box a:hover {
        color: #9fc4ed;
    }

    label {
        font-weight: normal;
        font-size: 11px;
    }

    button {
        min-width: 60px;
        vertical-align: middle;
    }

    table,
    td,
    th {
        border: 0 solid black;
    }

    th {
        padding: 3px 0;
        text-align: right;
    }

    .width-100 {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        ‌ -moz-box-sizing: border-box;
    }

    .table-label {
        font-weight: bold;
        width: 25%;
    }

    .branding-below {
        bottom: 54px;
        top: 0;
        left: 0;
    }

    .branding-text {
        left: 7px;
        position: relative;
        top: 3px;
    }

    .logo {
        vertical-align: middle;
    }

    .col-contain {
        overflow: hidden;
    }

    .col-one {
        float: left;
        width: 50%;
    }

    .col-third {
        float: left;
        width: 33.3%;
    }

    .col-full {
        float: middle;
        width: 100%;
    }

    .lower,
    .upper {
        position: absolute;
        left: 0;
        right: 0;
    }

    .upper {
        top: 0;
        height: 30%;
        background-color: white;
        overflow: scroll;
    }

    .lower {
        bottom: 0;
        height: 70%;
        background-color: white;
    }

    hr.small {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    hr.big {
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    #dialog-elements {
        background-color: #eee;
        border-color: #eee;
        border-width: 5px;
        border-style: solid;
    }

    #dialog-button-bar,
    #dialog-elements,
    #sidebar-button-bar {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .dynamicResults {
        float: left;
        width: 100%;
        /* The online webpage shows this width is used */
        border: 1px dashed red;
        /* Dev Use: To simulate Inspect Element for #views-row of original webpage  */
        /* Reminder: Since border is used, that effects the whole element by adding 2px of height. */
        /* To be sure, border must be removed so all px values calibrate correctly, or tweak CSS to include border. */
        margin-bottom: 24px;
        /* This is to allow next .dynamicResults object under current one have proper gap. */
    }

    .dynamicInfo {
        float: left;
        width: 100%;
        /* See below */
        /* If each text line, like Name (original website name Title) and Position, used only 1 single line, this width property  would not be required. When Name, Position, or any lines overflows unto the next line, elements are correctly pushed down. However, once it's below the thumbnail image, any text is then seen at the exterme left side due to required "float:left". To fix this, just calculate the correct width size so any pushed down text retains the collumn-like position where it's located at. To calculate this width, it's the "total width of .dynamicResults" less the "total width of .dynamicThumb". That said, the width of .dynamicThumb is 130px since thumbnail width is 100px and padding right is 30px. To be sure, 475px - 100px - 30px = 345px. Specifying hight is not required, as it will be as high it needs to be, and .dynamicResults already contains 24px bottom padding for the next object below. */
    }

    .dynamicText {
        /* Used the same font-family values as the original website, thus Bitstream support required. */
        font-family: Helvetica, Arial, Tahoma, Verdana, "Bitstream Vera Sans", sans-serif;
        /* Used the px equivilant of em as seen in Insect Element for font-size and line-height. */
        font-size: 12px;
        line-height: 18px;
        color: #262B2D;
        /* Website color analyzed via Inspect Element or use ColorZilla: RGB to Hex value. */
    }

    .dynamicName {
        font-size: 14px;
        color: blue;
        /* Website color analyzed via Inspect Element or use ColorZilla: RGB to Hex value. */
    }

    .alert-box {
        color: #3e6d8e;
        border-radius: 0;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: normal;
        font-size: 11px;
        padding: 3px;
        margin: 2px;
        display: inline-block;
    }

    .alert-box span {
        font-weight: bold;
        text-transform: uppercase;
    }

    .notice {
        background: rgb(228, 237, 244) no-repeat 10px 50%;
        border: 0 solid #34A7C1;
    }

    #ulList ul {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style-type: none;
    }

    a.rollover span.displace {
        display: block;
        width: 14px;
        height: 14px;
        text-decoration: none;
        background: url('https://dl.dropboxusercontent.com/s/v5091a37j4z281d/quirky.png');
    }
    a.rollover span.displace:hover {
        background: url('https://dl.dropboxusercontent.com/s/1rc4bvbrf7r40j8/causal.png');
    }
    /* RESULTS START */

    .rss-box {
        margin:;
        width:;
        font-size: 12px;
        background-color:;
        border:;
    }

    .rss-items {
        margin-top: 1px;
        padding: 0.5em;
        0.5em;
        margin-left: 1px;
        color: #006699;
    }

    p.rss-title {
        padding: 0.5em;
    }

    .rss-title {
        text-decoration: none;
        font-family: arial;
        font-size: 16px;
        background-color: #008000;
        color: #ffffff;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .rss-item-big {
        color: #AD0F39;
        font-family: arial;
        font-size: 105%;
        font-weight: normal;
        list-style: none;
        padding-bottom: 1em;
    }

    .rss-item-big a {
        none;
        color: #AD0F39;
        font-size: 100%;
        font-weight: bold;
        font-family: arial;
    }
    .rss-item-big a:visited {
        color: #AD0F39;
    }
    .rss-item-big a:hover {
        color: #14485E;
    }

    .rss-item {
        color: #247BA0;
        font-family: arial;
        font-size: 105%;
        font-weight: normal;
        list-style: none;
        padding-bottom: 1em;
    }

    .rss-item a {
        none;
        color: #247BA0;
        font-size: 100%;
        font-weight: bold;
        font-family: arial;
    }
    .rss-item a:visited {
        color: #247BA0;
    }
    .rss-item a:hover {
        color: #1B5F7C;
    }

    .rss-item2 {
        font-family: arial;
        font-size:;
        font-weight: normal;
        list-style: none;
        padding-bottom: 1em;
    }

    .rss-item2 a {
        none;
        color: #CB904D;
        font-size: 105%;
        font-weight: bold;
        font-family: arial;
    }
    .rss-item2 a:visited {
        color: #CB904D;
    }
    .rss-item2 a:hover {
        color: #A3733E;
    }

    .rss-date {
        font-size: 10px;
        font-weight: normal;
        font-family: arial;
        color: #70C1B3;
    }

    .rss-info {
        font-size: 10px;
        font-weight: normal;
        font-family: arial;
        color: #999999;
    }

    .rss-info-bold {
        font-size: 11px;
        font-weight: bold;
        font-family: arial;
        color: #999999;
    }

    .status-error {
        font-size: 11px;
        font-weight: normal;
        font-family: arial;
        color: red;
    }

    .rss-person {
        font-family: arial;
        font-size: 10px;
        font-weight: normal;
        list-style: none;
        padding-bottom: 1em;
    }

    .rss-person a {
        none;
        color: #70C1B3;
        font-size: 10px;
        font-weight: bold;
        font-family: arial;
    }
    .rss-person a:visited {
        color: #70C1B3;
    }
    .rss-person a:hover {
        color: #63AA9E;
    }

    .rss-person2 {
        font-family: arial;
        font-size: 10px;
        font-weight: normal;
        list-style: none;
        padding-bottom: 1em;
    }

    .rss-person2 a {
        none;
        color: #F3FFBD;
        font-size: 10px;
        font-weight: bold;
        font-family: arial;
    }
    .rss-person2 a:visited {
        color: #F3FFBD;
    }
    .rss-person2 a:hover {
        color: #C7D19A;
    }

    .rss-quirky-item {
        margin-left: 0;
        overflow: auto;
        display: block;
        color: #247BA0;
        font-family: arial;
        font-size: 105%;
        font-weight: normal;
        list-style: none;
        padding-bottom: 1em;
    }

    .rss-quirky-item a {
        none;
        color: #247BA0;
        font-size: 100%;
        font-weight: bold;
        font-family: arial;
    }
    .rss-quirky-item a:visited {
        color: #247BA0;
    }
    .rss-quirky-item a:hover {
        color: #1B5F7C;
    }

    #cartoonImg {
        float: left;
        margin-right: 10px;
        clear: both;
        max-width: 25%;
        height: auto;
    }

    #cartoonImg.ontheright {
        float: right;
    }
    /* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

    .pod-play {
        _width: 12em;
        margin: 0 0.2em;
        padding: 0.1em 0;
        _padding: 0;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: middle;
        background: #fb6;
        color: black;
    }

    .pod-play em {
        _width: 1em;
        _cursor: hand;
        font-style: normal;
        margin: 0;
        padding: 0.1em 0.5em;
        background: white;
        color: #222;
    }

    .pod-play span {
        _width: 1em;
        _cursor: hand;
        margin: 0;
        padding: 0.1em 0.5em 0.1em 0.3em;
    }
    .pod-play:hover {
        background: #666;
        color: white;
    }
    .pod-play:hover em {
        background: black;
        color: white;
    }
    /* RESULTS END */
    /* TAGS START */

    a.post-category {
        text-decoration: none;
        color: rgb(61, 146, 201);
        font-size: 9px;
        color: white;
    }
    a.post-category:focus,
    a.post-category:hover {
        text-decoration: underline;
        color: white;
    }

    .post-category {
        margin: 0 0.1em;
        padding: 0.3em 1em;
        color: #fff;
        background: #999;
    }

    .post-category-organisation {
        background: #5aba59;
    }

    .post-category-thing {
        background: #4d85d1;
    }

    .post-category-person {
        background: #8156a7;
    }

    .post-category-place {
        background: #df2d4f;
    }

    .post-category-datatype {
        background: #ab143b;
    }
    /* TAGS END */
    /* JAL: Advanced search opetions CSS */
    /* NOTE: We should find somewhere  - a dedicated place - to host the icon images */

    .open {
        background-image: url('http://semvm02.city.ac.uk/hall-of-fame/juice/triangle_open.png');
    }

    h2 {
        cursor: pointer;
        color: #949396;
        font-weight: bold;
        font-size: 12px;
        font-family: Helvetica;
        background-image: url('http://semvm02.city.ac.uk/hall-of-fame/juice/triangle_closed.png');
        background-size: 10px 10px;
        background-repeat: no-repeat;
        background-position: 4px 6px;
        text-indent: 20px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* JAL: End advanced search options */
    /* Highlight.js START */

    .highlight {
        background-color: #fff34d;
        -moz-border-radius: 5px;
        /* FF1+ */
        -webkit-border-radius: 5px;
        /* Saf3-4 */
        border-radius: 5px;
        /* Opera 10.5, IE 9, Saf5, Chrome */
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
        /* FF3.5+ */
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
        /* Saf3.0+, Chrome */
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
        /* Opera 10.5+, IE 9.0 */
    }

    .highlight {
        padding: 1px 4px;
        margin: 0 -4px;
    }
    /*  Highlight.js END */

 
